
<!DOCTYPE html>
<html>
<head>
<title>Europe Travel Planner</title>
</head>
<body>
<h1>Europe Travel Planner</h1>
<form action="/search" method="POST">
<label for="destination">Destination:</label>
<input type="text" name="destination" id="destination">
<br>
<label for="start_date">Start Date:</label>
<input type="date" name="start_date" id="start_date">
<br>
<label for="end_date">End Date:</label>
<input type="date" name="end_date" id="end_date">
<br>
<label for="budget">Budget:</label>
<input type="number" name="budget" id="budget">
<br>
<input type="submit" value="Search">
</form>
</body>
</html>


